.div {
	position: relative;
	top: 60px;
	z-index: 5;
}
.gallery {
	position: relative;
	top: 20px;
	z-index: 0;

	margin-top: 60px;
	transform: rotate(-0.5deg);
	@include clearfix;
	// border:1px solid red;


}


	.total {
		margin-top: 55px;
		position: relative;
		left: 0;
		z-index: 2;
		margin-left:-20px;

		.number {
			color: #de5051;
			font-family: brush;
			transform: rotate(-7deg);
			font-size: 13em;
			position: absolute;
			top: 65px;
			left: 90px;
			z-index: 2;
		}
	}
	.gall {
	// border: 1px solid blue;
	margin-left: 20px;
		position: relative;
		// top: 90px;
		// padding-bottom: 80px;
		margin-top: 85px;

		p {
			transform: rotate(-1deg);
			font-family: bitterbold;
			color: #045293;
			font-size: 2.2em;
			margin-left: 25px;
			line-height: 1.3em;
			margin-top: 10px;

		}
/////// images
.r{
	position:relative;
	z-index:-2;
	background-color: blue;
}


	}

.colored:first-of-type {
	// padding: 20px;
	padding-bottom: 120px;

	// box-shadow: 1px 1px 50px rgba(255,0,0,.1);
	// mix-blend-mode: multiply;
}




.images {
	margin-top: 70px;
	position: relative;
	z-index: 2;
	transform: rotate(-0.5deg);
	// background-color: red;
	// padding-left: 10px;
@include clearfix;
	div {
	// background-color: red;
	padding-left: 30px;

	}
}

.measure {
	position: absolute;
	top: 0;

	// border: 1px solid red;
	@include clearfix;
}

.scale {
	transform-origin: center;
	transform: scale(0.9,0.8);

}

li {

	margin-top: 92px;


transform: rotate(1deg);
	&:first-child {
		position: relative;
			transform: rotate(-1deg);
	}

	&:last-child{
		position: relative;
		// left: 200px;
		transform: rotate(-1deg);

	}
}

.move {

}

img.move {
	margin-left: 50px;
}

.frst{
	// background-color: yellow;
	// position: relative;
	li {
		// position: relative;
	}

	h2 {
		// position: absolute;
		// left: 0;
	}
}

h3 {
	// position: relative;
	// top: 20px;;
}

//txt

.txt{
	position: absolute;
	// top: 0;
	top: 220px;
	font-size: 5em;
	color: white;

	left: 140px;



	&:nth-child(2){
		left: 410px;
	}

	&:last-child {
	left: 710px;
	}
}


//birds

.camera {
	position: absolute;
	top: 0;
	z-index: 5;
	left: 90px;
}

.regbird {
	position: absolute;
	top: 25px;
	z-index: 5;
	right: 150px;
}

@media screen and (max-width: 970px) {
.total{

.number {
			font-size: 14vw;
			left: 10vw;
			top: 6vw;
		}
}
	.gall{

		p {
			font-size: 2.2vw;

		}
	}
}


@media screen and (max-width: 960px) {
.colored:last-of-type {
	// padding: 20px;
	background-color: rgba(240,232,138,0.20);
	// box-shadow: inset 15px;
	box-shadow: inset 0px 20px 14px -6px rgba(33,178,233,0.8);
	// box-shadow: 1px 1px 50px rgba(255,0,0,.1);
	// mix-blend-mode: multiply;
}

.colored:first-of-type {
	// padding: 20px;
	margin-top: 20px;
	padding-bottom: 120px;
	background-color: rgba(240,232,138,0.20);
	// box-shadow: inset 15px;
	box-shadow: inset 0px -20px 14px -6px rgba(33,178,233,0.8);
	// box-shadow: 1px 1px 50px rgba(255,0,0,.1);
	// mix-blend-mode: multiply;
}

.camera {
	top: 0.5vw;;
	left: 16vw;
}

.regbird {
	top: 3.5vw;;
	right: 20vw;
}

.vlak {
	background: none;
	position: static;
	width: 0;
	height: 0;
}
.c-3, .k-3  {
	display: none;
}

.images {


	div {
	// background-color: red;
	padding-left: 0;
	}
}

.txt{
	position: absolute;
	// top: 0;
	top: 40vw;
	font-size: 5em;
	color: white;

	// left: 140px;



	&:nth-child(2){
		left: 65vw;
	}


}
}


@media screen and (max-width: 768px) {
img.move {
	margin-left: 7vw;
}

.camera {
	left: 40vw;
	top: 0.7vw;
}



.total {
	margin-left:0;
	text-align: center;
	width: 100%;
	// display: none;

		.number {
			color: #de5051;
			font-family: brush;
			transform: rotate(-5deg);
			font-size: 8em;
			position: relative;
			top: 0;
			left: 0;
			z-index: 2;
		}
	}
	.gallery {
			// margin-top: 20px;
		transform: rotate(0deg);
	}

	.gall{
			margin-left: 0;
margin-top: 60px;
		p {

			font-size: 4vw;
			transform: rotate(-1deg);

		}
	}

	.frame {
		position: relative;
		top:-26vw;
		left:-16vw;
		z-index: 2;
	}

	.images {
		// border: 1px solid red;
transform: rotate(0deg);
	div {
	// background-color: red;
	// padding-left: -50px;
	}
}
}
@media screen and (max-width: 650px) {

.camera {
	left: 36vw;;
	top: 0.4vw;
}
}

@media screen and (max-width: 550px) {

.camera {
	// left: 4000vw;;
	top: 0.02vw;
}

img.move {
	// margin-left: 8vw;
}

.total {

	display: inline;

	.number {

			font-size: 20vw;
			top: 17px;


		}


}

.frame {
		position: relative;
		top:-23vw;
		left:-16vw;
	}
}
@media screen and (max-width: 520px) {
	img.move {
	margin-left: 9.5vw;
}
.colored:last-of-type {
	// padding: 20px;
	background-color: rgba(240,232,138,0.3);
	// box-shadow: inset 15px;
	box-shadow: inset 0px 20px 14px -6px rgba(33,178,233,0.9);
	// box-shadow: 1px 1px 50px rgba(255,0,0,.1);
	// mix-blend-mode: multiply;
}

.colored:first-of-type {
	// padding: 20px;
	padding-bottom: 120px;
	background-color: rgba(240,232,138,0.3);
	// box-shadow: inset 15px;
	box-shadow: inset 0px -20px 14px -6px rgba(33,178,233,0.9);
	// box-shadow: 1px 1px 50px rgba(255,0,0,.1);
	// mix-blend-mode: multiply;
}

}
@media screen and (max-width: 400px) {

.camera {
	left: 32vw;;
	top: -3px;
}
.total {


	.number {

			top: 13px;


		}


}


li {
	// border:1px solid red;
	@include clearfix;
}
.frame {
	// border:1px solid red;
		// left:-15vw;
	}
}



