.intro {
// border:1px solid red;
// height: 450px;
 // @include clearfix;

.flowb {
	// border: 1px solid red;
	left:0;
	position: absolute;
	// position: static;
	z-index: 1;
	top:0;
	// top: -237px;
	// left: 140px;
	transition: 1s;
	// display:inline-block;
	// left: 50px;

}
	position: relative;
	top: 159px;

	article {

	}

	h1 {
		font-family: eveleth;
		font-size: 3.7em;
		color: $yellow;
		text-align: left;



	}

	p {

		padding: 5px;
		padding-left: 10px;
		padding-right: 10px;
		margin-top: 17px;
		font-family: bitterregular;
		font-size: 2.25em;
		color: white;
		line-height: 1.3em;
		margin-left: -10px;
		position: relative;
		z-index: 2;
		background-color: rgba(48, 183, 238, 0.7);
		box-shadow: 1px 2px 3px rgba(48,183,238,.5);
		max-width: 450px;
	}

	strong {
		font-family: bitterbold;
		color: $yellow;
	}

	aside {

		position: relative;
		top: -125px;

		picture {
			position: relative;
			z-index: 2;
			top: 0;
			left: -50px;
		}

	}

	a {
		display: inline-block;
		position: relative;
		left: 150px;
		 // @include clearfix;
		top: 17px;
		// border: 1px solid blue;

	&:hover {

.flowb {
	// border: 1px solid red;

	position: absolute;
	// position: static;
	z-index: 1;
	top: -10px;
	left: 40px;
	transform: rotate(-20deg);
	transition: 1s;
	// display:inline-block;
	// left: 50px;

}
	}

	}
	picture {

		position: relative;
		z-index: 2;
		left: -270px;
		top: -35px;
		// left: -120px;


	}

}


@media screen and (max-width: 768px) {
	.intro {

// 		.flowb {
// 	// border: 1px solid red;

// 	position: absolute;
// 	// position: static;
// 	z-index: 1;
// 	top: 237px;
// 	left: 140px;
// 	transition: 0s;
// 	// display:inline-block;
// 	// left: 50px;

// }

		top: 50px;
		h1 {
			text-align: center;
			font-size: 7vw;
		}

		p {


	padding-left: 50px;
		padding-left: 25px;
		padding-right: 25px;
		margin-top: 17px;
		font-size: 3.5vw;
		margin-right: 0;
		max-width: none;
		// margin: 0 auto;
		// border: 1px solid red;
		text-align: justify;
		line-height: 1.35em;
		margin-left: -10px;

	}

	// picture {
	// 	position: relative;
	// 	z-index: 2;
	// 	// padding-left:35%;
	// 	top: -20px;
	// 	padding-left:30vw;
	// 	// border: 1px solid red;
	// 	// left: 21vw;

	// 	// top: -20px;
	// 	// left: -90px;
	// 	// left: 22vw;
	// }

	a {
		// border: 1px solid red;
		position: relative;
			left: 55%;
	}
	}


}

@media screen and (max-width: 624px) {
	.intro {

	a {
		// border: 1px solid red;
		position: relative;
			left: 57%;
	}

	}


}

// @media screen and (max-width: 624px) {
// 	.intro {


// 	picture {
// 		position: relative;
// 		z-index: 2;
// 		// padding-left:27%;
// 		// top: -20px;
// 		// left: -90px;
// 		padding-left: 26vw;
// 	}


// 	}


// }

@media screen and (max-width: 470px) {
	.intro {


a {
		// border: 1px solid red;
		position: relative;
			left: 61%;
	}


	}


}




@media screen and (max-width: 670px) {
	.intro {
		h1 {

			font-size: 4.7em;
		}
	}
}



@media screen and (max-width: 542px) {
	.intro {
		h1 {

			font-size: 4em;
		}
	}
}


@media screen and (max-width: 590px) {
	.intro {


		p {


	padding-left: 50px;
		padding-left: 25px;
		padding-right: 25px;
		margin-top: 17px;
		font-size: 2em;
		margin-right: 0;
		max-width: none;
		// margin: 0 auto;
		// border: 1px solid red;
		text-align: justify;
		line-height: 1.35em;
		margin-left: -10px;

	}
	}
}

@media screen and (max-width: 470px) {
	.intro {

		top: 30px;
		h1 {

			font-size: 3em;
		}
	}
}



//CNVS
canvas {
	   transform: rotate(-11deg);
	position: absolute;
	z-index: 3;
	top: 200px;
	left: 73px;
}


@media screen and (max-width: 768px) {

canvas {
	// border: 1px solid red;
	display: none;
	position: static;
	 transform: rotate(0deg);
	 // top:-20px;
	 // left: 90px;
	 z-index: -1;
}
}


