@media screen and (max-width: 970px) {
	.total{

		.number {
			font-size: 14vw;
			left: 10vw;
			top: 6vw;
		}
	}

	.gall{

		p {
			font-size: 2.2vw;
		}
	}
}

.k-1 {
	left: 1px;
	top: -6px;
}

.k-3 {
	top: 5px;
	left: -0.5px;
}


@media screen and (max-width: 960px) {


   .birdsleft {
	bottom: 10.4vw;
	left: 5.8vw;

	img {
		width:21vw;
		}
	}

	.measure{
		li {
			&:before {
				font-family: bitterbold;
				padding: 20px;
				padding-top: 22px;
				color: #e15152;
				vertical-align: center;
				text-align: center;
				font-size: 3vw;
				content:  attr(data);
				background-color: white;
				position: absolute;
				margin-left: 16vw;
				margin-top: 16vw;
				opacity: 0;
				transition: opacity 0.3s ease-in-out;

			}
		}
	}

	.colored {
		background-color: rgba(240,232,138,0.20);
		box-shadow: inset 0px 20px 14px -6px rgba(33,178,233,0.8);
	}

	.colored:first-of-type {
		margin-top: 20px;
		padding-bottom: 120px;
		background-color: rgba(240,232,138,0.20);
		box-shadow: inset 0px -20px 14px -6px rgba(33,178,233,0.8);
	}

	.camera {
		top: 0.3vw;;
		left: 16vw;
	}

	.regbird {
		top: 3vw;;
		right: 20vw;
	}

	.vlak {
		background: none;
		position: static;
		width: 0;
		height: 0;
	}

	.c-3, .k-3  {
		display: none;
	}

	.images {

		div {
		padding-left: 0;
	}
}

	.txt{
		position: absolute;
		// top: 0;
		font-family: eveleth;
		top: 52vw;
		font-size: 4vw;
		color: #fafa17;
		left: 15vw;
		transform: rotate(-1.5deg);
		background-position: 0.3vw 2.5vw;


		&:nth-child(2){
			left: 63vw;
			transform: rotate(1.1deg);
		}
	}
}

@media screen and (max-width: 792px) {
   .birdsleft {
	bottom: 10.6vw;
	left: 7.2vw;

	img {
		width:21vw;
		}
	}
}


//rightbird
@media screen and (max-width: 960px) {
   .birds {
   	// background-color: red;
	bottom: 14.4vw;
	right: 7.6vw;

	img {
		width:11vw;
		}
	}
}

@media screen and (max-width: 930px) {
   .birds {
	bottom: 14.2vw;
	right: 7.6vw;

	img {
		width:11vw;
		}
	}
}


@media screen and (max-width: 880px) {
   .birds {
	bottom: 14vw;
	right: 7.7vw;

	img {
		width:11vw;
		}
	}
}

@media screen and (max-width: 780px) {
   .birds {
	bottom: 13.8vw;
	right: 7.9vw;

	img {
		width:11vw;
		}
	}
}

//both birds
@media screen and (max-width: 768px) {
   .birdsleft, .birds {
	display: none;
}

	.headers {
		margin-top: 5px;
		margin-left: 0;
	}

	.measure{
		li {

			&:before {
				font-family: bitterbold;
				padding: 20px;
				padding-top: 22px;
				color: #e15152;
				vertical-align: center;
				text-align: center;
				font-size: 5vw;
				content:  attr(data);
				background-color: white;
				position: absolute;
				margin-left: 26vw;
				margin-top: 27vw;
				opacity: 0;
				transition: opacity 0.3s ease-in-out;
			}
		}
	}

	.txt{
		position: absolute;
		font-family: eveleth;
		top: 80vw;
		font-size: 6vw;
		color: #fafa17;
		left: 18vw;
		transform: rotate(-1.5deg);
		background-position: 3vw 4vw;

		&:nth-child(2){
			top: 166vw;
			left: 18vw;
		}
	}

	li {
		@include clearfix;
	}

	.div {
		position: relative;
		top: 4.2vw;
	}

	.total {
		margin-top: 12vw;
		img {
			transform: scale(.7,.7);
		}

		height: 32vw;
	}

	img.move {
		margin-left: 7vw;
	}

	.camera {
		left: 40vw;
		top: 0.3vw;
	}

	.total {
		margin-left:0;
		text-align: center;
		width: 100%;

		.number {
			color: #de5051;
			font-family: brush;
			transform: rotate(-5deg);
			font-size: 16vw;
			position: relative;
			top: 2vw;;
			left: 0;
			z-index: 2;
		}
	}

	.gallery {
		transform: rotate(0deg);
	}

	.gall{
		margin-left: 0;
		margin-top: 60px;

		p {
			font-size: 4vw;
			transform: rotate(-1deg);
		}
	}

	.frame {
		position: relative;
		top:-26vw;
		left:-16vw;
		z-index: 2;
	}

	.images {
		transform: rotate(0deg);
	}

	.measure {
		position: absolute;
		top: 4vw;
		left: -0.3vw;
		@include clearfix;

		li {
			&:first-child {
				top: -5vw;
				position: relative;
			}
		}
	}
}

////

@media screen and (max-width: 768px) {

canvas {
	display: none;
	position: static;
	 transform: rotate(0deg);

	 z-index: -1;
}

.intro {

	a,p,h1 {
			transform: rotate(0deg);
	}
}
}

@media screen and (max-width: 768px) {
	.intro {



		top: 50px;
		h1 {
			text-align: center;
			font-size: 7vw;
		}

		p {


	padding-left: 50px;
		padding-left: 25px;
		padding-right: 25px;
		margin-top: 17px;
		font-size: 3.5vw;
		margin-right: 0;
		max-width: none;
		text-align: justify;
		line-height: 1.35em;
		margin-left: -10px;

	}



	a {
		position: relative;
			left: 55%;
	}


	.logo {
		position: absolute;
		top: 7px;
		left: 87vw;
		transform: rotate(-1.8deg);
	}

	}


}

@media screen and (max-width: 650px) {
	.txt{
		position: absolute;
		font-family: eveleth;
		top: 84vw;
		font-size: 6vw;
		color: #fafa17;
		left: 18vw;
		transform: rotate(-1.5deg);
		background-position: 3vw 3.5vw;

		&:nth-child(2){
			top: 172vw;
			left: 18vw;
		}
	}

	.camera {
		left: 37vw;;
		top: 0.1vw;
	}
}


@media screen and (max-width: 624px) {
	.intro {

	a {
		position: relative;
			left: 57%;
	}

	}


}

@media screen and (max-width: 470px) {
	.intro {


a {
		position: relative;
			left: 61%;
	}


	}


}




@media screen and (max-width: 670px) {
	.intro {
		h1 {

			font-size: 4.7em;
		}

				.logo {
		display: none;
	}
	}
}

@media screen and (max-width: 550px) {
	.camera {
		top: -0.9vw;
		left: 32vw;
	}

	.txt{
		position: absolute;
		font-family: eveleth;
		top: 88vw;
		font-size: 6vw;
		color: #fafa17;
		left: 18vw;
		transform: rotate(-1.5deg);
		background-position:-13vw 1.7vw;

		&:nth-child(2){
			top: 181vw;
			left: 18vw;
		}
	}

	.total {
		height: 50vw;
		margin-top: 55px;
		transform: scale(0.85,0.85);

		img {
			transform: scale(1,1);
		}
	}

	.total {
		display: inline;

		.number {
			font-size: 20vw;
			top: 17px;
		}
	}

	.frame {
		position: relative;
		top:-23vw;
		left:-16vw;
	}
}


@media screen and (max-width: 542px) {
	.intro {
		h1 {

			font-size: 4em;
		}


	}
}

@media screen and (max-width: 520px) {

	.txt{
		background-position:-6vw 1.7vw;
	}

	img.move {
		margin-left: 9.5vw;
	}

	.colored:last-of-type {
		background-color: rgba(240,232,138,0.22);
		box-shadow: inset 0px 20px 14px -6px rgba(30,189,252,.8);
	}

	.colored:first-of-type {
		padding-bottom: 120px;
		background-color: rgba(240,232,138,0.22);
		box-shadow: inset 0px -20px 14px -6px rgba(30,189,252,.8);
	}
}


@media screen and (max-width: 590px) {
	.intro {


		p {


	padding-left: 50px;
		padding-left: 25px;
		padding-right: 25px;
		margin-top: 17px;
		font-size: 2em;
		margin-right: 0;
		max-width: none;

		text-align: justify;
		line-height: 1.35em;
		margin-left: -10px;

	}
	}
}

@media screen and (max-width: 470px) {
	.intro {

		top: 30px;
		h1 {

			font-size: 3em;
		}
	}
}

@media screen and (max-width: 420px) {
	.txt{
		position: absolute;
		font-family: eveleth;
		top: 95vw;
		font-size: 6vw;
		color: #fafa17;
		left: 18vw;
		transform: rotate(-1.5deg);
		background-position:-13vw 1.7vw;

		&:nth-child(2){
			top: 192vw;
			left: 18vw;
		}
	}

	.total {

		.number {
			top: 13px;
		}
	}

	li {
		@include clearfix;
	}
}



@media screen and (max-width: 400px) {
	.txt{
		position: absolute;
		font-family: eveleth;
		top: 95vw;
		font-size: 6vw;
		color: #fafa17;
		left: 18vw;
		transform: rotate(-1.5deg);
		background-position:-13vw 1.7vw;

		&:nth-child(2){
			top: 192vw;
			left: 18vw;
		}
	}

	.total {

		.number {
			top: 13px;
		}
	}

	li {
		@include clearfix;
	}
}

@media screen and (max-width: 350px) {
	.txt{
		position: absolute;
		font-family: eveleth;
		top: 102vw;
		font-size: 6vw;
		color: #fafa17;
		left: 17vw;
		transform: rotate(-1.5deg);
		background-position:-13vw 1.7vw;

		&:nth-child(2){
			top: 205vw;
			left: 16vw;
		}
	}

	.total {

		.number {
			top: 13px;
		}
	}

	li {
		@include clearfix;
	}
}




