* { Box-sizing: Border-box }

body {
	position: relative;
	background-color: #35bdfb;
	background-image: url('../assets/patterns/pattern.jpg');
	font-size: 62.5%;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	font-smoothing: grayscale;
	height: 100%;
	margin: 0;
	padding: 0

}

.containerfix {
	max-width: 970px;
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
}

section {
   	position: relative;
}

.patternAbove{

 	background:url('../assets/patterns/overlaypattern.png');
  	width:100%;
   	height:100%;
   	position:absolute;
  	top:0;
  	left:0;
}

* html .patternAbove{
  	background:none;
  	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='pattern-above.png',sizingMethod='scale');
  }

.ab {
  	position: absolute;
  	z-index: 2;
  }

.headers {
  	@include clearfix;
  	margin-left: 25px;
  	margin-top: 7px;
}

header {
  	@include clearfix;
}

.birds {
  	position: absolute;
  	bottom: 140px;
  	right: 75px;
  	z-index: 2;

  	img {
  		width: 100%;
 	}
}

.birdsleft {
	position: absolute;
  	bottom: 105px;
  	left: 64px;
  	z-index: 2;

  	img {
  		width: 100%;
  	}
}

.container-fluid {
  	padding: 0;
}

.vlak {
	position: absolute;
	height: 800px;
	width: 100%;
	top: 1030px;
	background-color: rgba(240,232,138,0.20);
	box-shadow: inset -1px 0px 26px 14px rgba(33,178,233,0.8);
}

img {
	-webkit-backface-visibility: hidden;
}

.lazyload,
.lazyloading {
    opacity: 0;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 200ms;
}




