.video {
	position: relative;
	z-index: 2;
	margin-top: 100px;
}

.top {
	position: relative;
	z-index:10;
}

.actv {
	-webkit-backface-visibility: hidden;
	transform-origin: center;
	position: absolute;
	left:-20px;
	right: 0;
	top: 105px;
	transform: scale(0.94,0.94);
}

.buy {
	position: relative;
	text-align: center;
	margin-left: 50px;
}

.last {
	margin-bottom: 80px;
}

@media screen and (max-width: 960px) {
	.actv {
		left:-2.8vw;
		right: 0;
		top: 10.3vw;
	}
}


@media screen and (max-width: 768px) {
	.actv {
		position: relative;
		left:0vw;
		right: 0;
		top: 5.2vw;
	}

	.buy {
		width: 100%;
		margin: 0;
		text-align: center;
		img {
			position: relative;
			left: -25px;
		}
	}
}

@media screen and (max-width: 450px) {
	.buy {

		img {
			position: relative;
			left: -35px;
		}
	}
}

